body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 500px;
    height: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #FFFAE5;
	border: 1px solid #FFC499;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #FF9900;
}

.form-group {
    margin-bottom: 10px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], select {
    width: 100%;
    max-width: 400px; 
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button[type="submit"] {
    width: 200px; 
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin: 20px auto 0 auto;
    display: block;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}
